<h2>Teams</h2>

<ul>
  <li *ngFor="let team of teams">
    {{ team.name }} - {{ team.city }} - {{ team.liga }}
    <button (click)="updateTeam(team)">Update</button>
    <button (click)="deleteTeam(team.id)">Delete</button>
  </li>
</ul>

<form (ngSubmit)="createTeam(form.value)">
  <div>
    <label>Name:</label>
    <input type="text" name="name" required [(ngModel)]="form.name">
  </div>
  <div>
    <label>City:</label>
    <input type="text" name="city" required [(ngModel)]="form.city">
  </div>
  <div>
    <label>Liga:</label>
    <input type="text" name="liga" required [(ngModel)]="form.liga">
  </div>
  <button type="submit">Create</button>
</form>