<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">

      <a class="navbar-brand text-success logo h1 align-self-center" href="#">
          CashControl
      </a>

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

  </div>
</nav>

<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Company Sign Up</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="companySignUpForm" (ngSubmit)="onSignup()">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    companySignUpForm.controls['companyName'].dirty &&
                    companySignUpForm.hasError('required', 'companyName')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="companyName"
                    type="text"
                    placeholder="Company Name"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  companySignUpForm.controls['companyName'].dirty &&
                  companySignUpForm.hasError('required', 'companyName')
                "
                class="text-danger"
                >*Company Name is required*</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    companySignUpForm.controls['userName'].dirty &&
                    companySignUpForm.hasError('required', 'userName')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="userName"
                    type="text"
                    placeholder="UserName"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  companySignUpForm.controls['userName'].dirty &&
                  companySignUpForm.hasError('required', 'userName')
                "
                class="text-danger"
                >*Username is required*</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    companySignUpForm.controls['email'].dirty &&
                    companySignUpForm.hasError('required', 'email')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="email"
                    type="text"
                    placeholder="Email"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  companySignUpForm.controls['email'].dirty &&
                  companySignUpForm.hasError('required', 'email')
                "
                class="text-danger"
                >*Email is required*</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    companySignUpForm.controls['password'].dirty &&
                    companySignUpForm.hasError('required', 'password')
                  "
                >
                  <span class="fa fa-lock px-2"></span>
                  <input
                    formControlName="password"
                    [type]="type"
                    placeholder="Password"
                  />
                  <button
                    (click)="hideShowPass()"
                    type="button"
                    class="bg-white text-muted"
                  >
                    <span class="fa {{ eyeIcon }}"></span>
                  </button>
                </div>
              </div>
              <small
                *ngIf="
                  companySignUpForm.controls['password'].dirty &&
                  companySignUpForm.hasError('required', 'password')
                "
                class="text-danger"
                >*Password is required*</small
              >

              <button
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100"
              >
                Signup
              </button>
              <div class="text-center pt-4 text-muted">
                Already have an account?
                <a id="forgot" routerLink="/companyLogin" href="#">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
